# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
*.whl

# Django
backend/*.sqlite3
backend/media/
backend/.env
backend/staticfiles/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
